
.#{$ib-prefix}-spin::before {
  animation: ib-spin 2s infinite linear;
}
.#{$ib-prefix}-pulse::before {
  animation: ib-spin 1s infinite steps(8);
}

@keyframes ib-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
