
.#{$cssvg_prefix}-spin {
  animation: cs-spin 2s infinite linear;
}
.#{$cssvg_prefix}-pulse {
  animation: cs-spin 1s infinite steps(8);
}

@keyframes cs-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
