
.#{$blender_prefix}-embed{
	display:inline-block;
	height:1em;
	width:1em;
}


.#{$blender_prefix}{
	display:inline-block;
	height:1em;
	width:1em;
	background: currentColor;
	vertical-align: -.125em;
	mask-repeat: no-repeat;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.#{$blender_prefix}-fw{
	width: 1.28571429em;
}


.#{$blender_prefix}-lg{
	height:1.33333333em;
	width:1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.#{$blender_prefix}-2x{
	font-size:2em;
}

.#{$blender_prefix}-3x{
	font-size:3em;
}

.#{$blender_prefix}-4x{
	font-size:4em;
}

.#{$blender_prefix}-5x{
	font-size:5em;
}

.#{$blender_prefix}-flip-horizontal{
	transform: scale(-1, 1);
}

.#{$blender_prefix}-flip-vertical{
	transform: scale(1, -1);
}

.#{$blender_prefix}-rotate-90 {
    transform: rotate(90deg);
}

.#{$blender_prefix}-rotate-180 {
    transform: rotate(180deg);
}

.#{$blender_prefix}-rotate-2700 {
    transform: rotate(270deg);
}
